

/* Asignamos algunos estilos basicos con CSS para mostrar que funciona. En proximas entregas los prefeccionaremos */


header{
    background-color: black;
}

body{
    background-color: black;
}

footer{
    background-color: black;
}

h1{
    color: white;
}

h2{
    color: white;
    font-size: xx-large;
}

p{
    color: white;
}

button{
    width: 80px;
    height: 20px;
}
